@font-face
	font-family: "manlymen-BB"
	font-style: normal
	font-weight: 500
	src: url("../fonts/ManlyMenBB.ttf") format("ttf")
	// url("fonts/Samplinal.woff2") format("woff2"),
	// url("fonts/Samplinal.woff") format("woff")